*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background: rgb(103,169,171);
    background: linear-gradient(135deg, rgba(103,169,171,1) 0%, rgba(55,230,149,1) 100%);
    vertical-align: middle;
}
.SocialMedias{
    text-align: center;
    /* justify-content: flex; */
    /* display: flex; */
    list-style: none;
}
.SocialMedias li{
    /* flex: 1 1 auto; */
    display: inline;
}
img{
    width: 6em;
}


.content{
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    /* display: flex; */
    /* height: 90.71618037135785‬%; */
    height: 48.5%;
    padding-left: 2em;
    padding-right: 2em;
}
.content a{
    vertical-align: middle;
    text-decoration: none;

}
.content a img{
    vertical-align: middle;
    /* box-shadow: 0 0 1em rgba(0, 0, 0, 0.493); */
}