@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,600,700&display=swap');
html, body {
    width: 100%;
    height: 100%;
}

body {
    background: rgb(103, 169, 171);
    background: linear-gradient(0deg, rgb(103, 169, 171) 0%, rgba(255, 255, 255, 1) 79%, rgba(255, 255, 255, 1) 100%) fixed no-repeat 0 0;
}

main {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

article {
    width: 60%;
    text-align: center;
    margin-right: 1em;
    background-color: white;
}

aside {
    text-align: center;
}

aside, article {
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 1em #00000079;
    border-radius: 1em;
}

aside img {
    width: 90%;
}

.headArticle {
    font-family: 'Open Sans' monospace;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 2.5em;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
}

.author {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyArticle{
}
.bodyArticle img{

    width: 100%;
}


