@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:monospace;
}
body{
    background-color:#282828;
    align-self: center;;
}
header{
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0.25% 1%;
    background-color: #ffffff;
}

.headerL h1{
    font-family: 'Ubuntu Mono';
    display: inline;
    vertical-align:middle;
    border-right-color: #282828;
    border-right: solid;
    border-right-width: 2px;
    padding: 12px;
    margin-right: 10px;
}
.headerL img{
    vertical-align: middle;
    width: 64px;
    height: 64px;
}
.headerL img:hover{
    cursor: pointer;
}
.headerL{
    margin-right: auto;
}
.headerL nav{
    vertical-align:middle;
    display: inline-block;
}
.headerL nav ul{
    display: inline;
}
.headerL nav ul li{
    display: inline;
   padding-right: 5px;
}
.headerL nav ul li a{
    transition: 0.3s;
    text-decoration: none;
    color: black;
}
.headerL nav ul li a:hover{
    font-style: italic;
    font-weight: bold;
    color: black;
}
.main{
    align-items: center;
    top: 25%;
    text-align: center;
    vertical-align: center;
    justify-content: space-between;
    display: flex;
    padding: 15% 10%;
    background: rgb(103,169,171);
background: linear-gradient(135deg, rgba(103,169,171,1) 0%, rgba(55,230,149,1) 100%);
/* background-image: url("../images/back.jpg"); */
}

.mainRight{
    float: right;
    display: inline;
}
.mainRight img{
    width: 25%;
    height: 25%;
}
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
.mainLeft{
    float: left;
    display: inline;
}
.mainLeft p{
    display: inline-flex;
    text-align:center;
    font-family: 'Roboto';
    font-size: 200%;
    
}
.mainLeft h2{
    font-family:'Ubuntu Mono';
    font-size: 500%;
}
.mainLeft hr{
    border-color:#000000;
}
.ourCourses{
    font-family: 'Roboto';
    font-size: 200%;
    text-align: center;
    background-color: white;
}
footer{
    font-family: 'Roboto';
    font-size: 150%;
    text-align: center;
    background-color: white;
}
.courses{
    align-items: center;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    display: flex;
    height: 250px;
}
